# SQL WEEK 7

In [3]:
import sqlite3

In [6]:
con = sqlite3.connect('mydatabase.db')

In [7]:
cursor = con.cursor()

In [8]:
cursor.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")
con.commit()

OperationalError: table employees already exists

In [20]:
cursor.execute("INSERT INTO employees VALUES(1,'Lilian Owino',700,'REVENUE','Analyst','2019-10-1')")
con.commit()

IntegrityError: UNIQUE constraint failed: employees.id

In [22]:
cursor.execute("INSERT INTO employees VALUES(3,'Collins Odhiambo',800,'REVENUE','Analyst','2019-10-1')")
con.commit()

In [24]:
entities = (4,'Lilian Owino',1000,'HR','Manager','2019-10-1')
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()

In [32]:
user_id = int(input('Enter your ID: '))
name = input('Enter your name: ')
salary = float(input('Enter your salary: '))
department = input('Enter your department: ')
position = input('Enter your position: ')
date = input('Enter date "YYYY-M-D": ')
entities = (user_id,name,salary,department,position,date)
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()
print('Data has been inserted!!!')

Enter your ID: 5
Enter your name: Winner Emeto
Enter your salary: 1500
Enter your department: Data Science
Enter your position: Facilitator
Enter date "YYYY-M-D": 2021-5-1
Data has been inserted!!!

In [34]:
cursor.execute('UPDATE employees SET name = "George" where id = 3')
con.commit()

In [35]:
cursor.execute('UPDATE employees SET salary = 700 where id = 4')
con.commit()

In [37]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Lilian Owino', 700.0, 'REVENUE', 'Analyst', '2019-10-1')
(2, 'Collins Odhiambo', 700.0, 'REVENUE', 'Analyst', '2019-10-1')
(3, 'George', 800.0, 'REVENUE', 'Analyst', '2019-10-1')
(4, 'Lilian Owino', 700.0, 'HR', 'Manager', '2019-10-1')
(5, 'Winner Emeto', 1500.0, 'Data Science', 'Facilitator', '2021-5-1')

In [38]:
cursor.execute("UPDATE employees SET salary=300,name='Peter' where id = 2")
con.commit()

In [40]:
cursor.execute('UPDATE employees SET hireDate="2021-06-20" where id=1)
con.commit()

SyntaxError: EOL while scanning string literal (<ipython-input-40-6ff0c16d617b>, line 1)

In [ ]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700 AND hireDate = 2021-06-20"''
rows = cursor.fetchall()
for row in rows:
    print(row)

In [41]:
con.close()